@import './global.less';

.blog-item{
  margin-bottom: 20px;
  padding: 20px;
  background-color: @base-color;
  position: relative;
  box-shadow: 2px 2px 2px #7c484833;

  .blog-title{ 
    width: 100%; 
    height: 40; 
    margin-bottom: 30px; 
    border-bottom: 1px solid blue; 

    .blog-importance{
      background-color: #ff5722;
      color: @base-color;
      font-weight:700;
    }
    .blog-original{
      color: #2ea7e0;
      font-weight:700;
    }
  }

  .blog-content{
    border-bottom: 1px solid red; 
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    span{
      text-indent: 2em;
      line-height: 1.666em;
      .max-line(5)
    }
  }

  .blog-footer{
    width: 100%;
    margin-bottom: 0;
    height: 30;
    line-height: 30px;

    span{
      margin: 0 10px 0 0;
    }
  }
}

